
* {
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
}
a:link{
    text-decoration: none;
} 

    
.header-pages {
    width: 100%;
    height: auto;
    background-color: #1d1d1e;
}

nav{
    width: 100%;
    height: 65px;
    background-color: #a71e34;
    display: flex;
    -webkit-box-shadow: 2px 11px 15px 4px #000000; 
    box-shadow: 2px 11px 15px 4px #000000;
}

nav>div {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

        #wrapper-logo-home {
            width: 150px;
        }

        #wrapper-logo-home img{
            width: 80%;
        }



#wrapper-elements-menu {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}


.element-menu{
    font-family: Tenon;
    font-weight: medium;
    color: white;
    font-size: 15pt;
    -webkit-text-stroke: 1.1pt;
    margin-left: 77px;
    position: relative; left: 300px;
    display: flex;
}


.element-menu:hover{
    text-decoration: underline;
}

.banner-home-img{
    width: 100%;
    height: 740px;
    position: relative;
    background-image: url(../imgs/Banner-home/home-banner-1920.jpg);
    background-color: #1d1d1e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#subtitle-wrapper {
    width: 100%;
    height: 100px;
    position: relative;
    font-family: Tenon;
    font-size: 30px;
    color: white;
    font-weight: medium;
    text-align: center;
    background-color: #1d1d1e;
    padding-top: 60px;
    padding-bottom: 50px;
}


.banner-imgs {
    background-color: #1d1d1e;
}

.home-banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.home-banner img {
width: 100%;
}


.trivia {
    font-family: Tenon;
    font-weight: Bold;
    font-size: 35pt;
    color: white;
    text-align: center;
    background-color: #1d1d1e;
    -webkit-text-stroke: 2pt;
    padding-top: 30px;
    padding-bottom: 30px;
}

.trivia-text {
    font-family: Tenon;
    font-weight: medium;
    font-size: 20pt;
    text-align: center;
    color: white;
    background-color: #1d1d1e;
    padding: 35px 30px;
}

#click-here-rect {
    background-color: #1d1d1e;
    padding-bottom: 50px;
}

#click-here {
    background-color: #a71e34;
    width: 300px;
    height: 40px;
    font-family: Tenon;
    font-size: 18pt;
    color: white;
    font-weight: medium;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 6px 6px 5px rgba(0,0,0,0.75); 
    box-shadow: 0px 6px 6px 5px rgba(0,0,0,0.75);

}

span.emphasis {
    font-family: Tenon;
    font-weight: bold;
}
.footer-all{
    height: 60px;
    background-color: #1d1d1e;
    position: relative;
    border-top: 1px solid #000000;
    -webkit-box-shadow: -1px -8px 13px 1px rgba(0,0,0,0.64); 
    box-shadow: -1px -8px 13px 1px rgba(0,0,0,0.64);
}
.socials {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    height: 50px;
    margin-top: 7px;
    background-color: #1d1d1e;
}

.socials img{
    width: 95%;
    display: flex;
}
   

/* ABOUT PAGE */

#banner-about-image {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(../imgs/Banner-about/banner-about-1024.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1d1d1e;
}

.subtitle-about {
    font-family: Tenon;
    font-weight: bold;
    font-size: 60pt;
    color: white;
    background-color: #1d1d1e;
    padding-top: 60px;
    padding-left: 60px;
    -webkit-text-stroke: 1.5pt;
}

.paragraph-about {
    font-family: Tenon;
    font-weight: normal;
    font-size: 20pt;
    color: white;
    background-color: #1d1d1e;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}

#subtitle-spoiler-alert {
    font-family: Tenon;
    font-weight: bold;
    font-size: 27pt;
    color: white;
    background-color: #1d1d1e;
    padding: 60px 60px;
}

#trailer-sub {
    font-family: Tenon;
    font-weight: bold;
    color: white;
    font-size: 20pt;
    background-color: #1d1d1e;
    padding: 60px 60px;
}

div#video-trailer-season-four {
    color: #1d1d1e;
    background-color: #1d1d1e;
}

.final-paragraph-about {
    font-family: Tenon;
    font-weight: normal;
    font-size: 20pt;
    color: white;
    background-color: #1d1d1e;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
    padding-bottom: 80px;
}

/* MEDIA PAGE */

#collage-photos {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1d1e;
    text-align: center;
    padding-top: 50px;
}

#collage-photos img {
    width: 80%;
    
}

.season-identifier {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1d1e;
    font-family: Tenon;
    font-weight: medium;
    color:white;
    text-align: center;
    padding-top: 15px;

}

.sub-cast {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Tenon;
    font-weight: bold;
    font-size: 30pt;
    color: white;
    background-color: #1d1d1e;
    text-align: center;
    padding-top: 80px;
    
}

.picture-rect {
    width: 300px;
    height:400px;
    background-color: #1d1d1e;
    margin-left: 100px;
    margin-top: 50px;
    padding-top: 30px;
    
}

#pic-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -50px;
    background-color: #1d1d1e;
}

.picture-rect img {
    width: 100%;
}

#sub-wrapper {
background-color: #1d1d1e;
color: white;
font-family: Tenon;
padding-left: 150px;
padding-top: 100px;
}

#trailer-media {
    -webkit-text-stroke: 1.5pt;
    font-size: 60pt;
    font-weight: bold;
}
.text-now-watching {
    font-family: Tenon;
    font-size: 25pt;
    font-weight: medium;
    color: white;
    font-weight: medium;
    background-color: #1d1d1e;
    padding-top: 60px;
    padding-bottom: 50px;
}

#season1-trailer {
    color: #1d1d1e;
    background-color: #1d1d1e;
    padding-bottom: 50px;
}


@media (max-width: 1920px) and (min-width: 1441px) {
   
   /* HOME */

   .element-menu{
    color: white;
    font-size: 20pt;
    -webkit-text-stroke: 1.3pt;
    margin-left: 50px;
    position: relative;
    left: 550px;
}

    .banner-home-img {
        height: 913px;
        background-image: url(../imgs/Banner-home/home-banner-1920.jpg);
    }

   .brief {
        font-size: 30pt;
        padding-right: 50px;
        padding-left: 50px;

   }

   .trivia-text {
       font-size: 30pt;
   }

     
    /*ABOUT*/

    #banner-about-image {
        height: 600px;
        background-image: url(../imgs/Banner-about/banner-about-1920.png);
    }

    .paragraph-about{
        font-size: 30pt;
    }

    .final-paragraph-about {
        font-size: 30pt;
    }

    /* MEDIA */

    .season-identifier{
        font-size: 20pt;
    }
    .sub-cast {
        font-size: 50pt;
    }

    .text-now-watching {
        font-size: 35pt;
    }
}

/* ESTA ES LA RESOLUCIÓN NORMAL DE MI BROWSER :) */

@media (max-width: 1440px) {

       /* HOME */

   .element-menu{
    color: white;
    font-size: 16pt;
    -webkit-text-stroke: 1.3pt;
    margin-left: 50px;
    position: relative;
    left: 350px;
}
}

@media (max-width: 1024px){
   
    .element-menu{
        color: white;
        font-size: 17pt;
        -webkit-text-stroke: 1.1pt;
        margin-left: 50px;
        position: relative;
        left: 150px;
    }
    /*ABOUT*/

    #banner-about-image {
        height: 300px;
        background-image: url(../imgs/Banner-about/banner-about-1024.png);
    }

}

@media (max-width: 768px){
    
    .element-menu{
        color: white;
        font-size: 15pt;
        -webkit-text-stroke: 1.1pt;
        margin-left: 30px;
        position: relative;
        left: 35px;
    }
    
    .trivia-text {
    font-family: Tenon;
    font-weight: medium;
    font-size: 15pt;
    text-align: center;
    color: white;
    background-color: #1d1d1e;
    padding: 35px 30px;
}
#subtitle-wrapper {
    width: 100%;
    height: 100px;
    position: relative;
    font-family: Tenon;
    font-size: 25px;
    color: white;
    font-weight: medium;
    text-align: center;
    background-color: #1d1d1e;
    padding-top: 60px;
    padding-bottom: 30px;
}


    /*ABOUT*/

    #banner-about-image {
        height: 230px;
        background-image: url(../imgs/Banner-about/banner-about-768.png);
    }
    
    /* MEDIA */

    #pic-wrapper {
        padding-right: 20px;
    }
}



@media (max-width: 480px){
   
    /* HOME*/

    .element-menu{
        color: white;
        font-size: 12pt;
        -webkit-text-stroke: 1.1pt;
        margin-left: 20px;
        position: relative;
        left: 0px;
    }


    .banner-home-img {
        height: 455px;
        background-image: url(../imgs/Banner-home/home-banner-480.jpg);
    }

    .brief {
        padding-left: 10px;
        padding-right: 10px;
    }

    .trivia {
        font-size: 25pt;
    }

    .trivia-text {
    font-family: Tenon;
    font-weight: medium;
    font-size: 14pt;
    text-align: center;
    color: white;
    background-color: #1d1d1e;
    padding: 35px 30px;}

#subtitle-wrapper {
    width: 100%;
    height: 100px;
    position: relative;
    font-family: Tenon;
    font-size: 20px;
    color: white;
    font-weight: medium;
    text-align: center;
    background-color: #1d1d1e;
    padding-top: 60px;
    padding-bottom: 50px; 

} 

    /*ABOUT*/

    #banner-about-image {
        height: 150px;
        background-image: url(../imgs/Banner-about/banner-about-480.png);
    }

    .subtitle-about {
        font-size: 40pt;
        
    }

    .paragraph-about {
       
        font-size: 15pt;
    }
    
    #subtitle-spoiler-alert {
    
        font-size: 17pt;
    }
       
    .final-paragraph-about {
        
        font-size: 15pt;
        
}

    /* MEDIA */
    .sub-cast{
        font-size: 20pt;
    }

    #trailer-media {
        -webkit-text-stroke: 1.5pt;
        font-size: 40pt;
        font-weight: bold;
        margin-left: -60pt;
    }

    .text-now-watching {
        padding-top: 60px;
        padding-bottom: 50px;
        margin-left: -20pt;
    }

}